# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Streamlit config
.streamlit/

# Keep dataset (recommended for now)
# student_data.csv